@import "../../../styles.scss";

nav {
  display: flex;
  float: right;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  a {
    margin-right: 5%;
  }
  a:hover {
    cursor: pointer;
    color: $orange;
  }
}

.top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.topContent {
  align-items: center;
  width: 84%;
  display: flex;
  background-color: transparent;
}

.name {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  margin-left: 2%;
}

.name:hover {
  color: $orange;
  cursor: pointer;
}

a {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.5em;
}

p,
li {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.3em;
}
