<div class="top">
  <div id="top" class="topContent">
    <p [routerLink]="['/home']" class="name">AS</p>
    <nav>
      <a (click)="backClicked()"> Home </a>
    </nav>
  </div>
</div>
<div class="wrapper">
  <div fxLayout="column" class="main">
    <div id="header" class="header">
      <img
        alt="AMMCO banner"
        src="../../assets/ammco-banner.png"
        class="headerImage"
      />
      <h2 class="headerDescription">
        The African Marine Mammal Conservation Organization(AMMCO) is a
        non-profit dedicated to reversing the countdown on animal extinction.
      </h2>
      <p><strong>Tech Stack:</strong> Flutter, Dart, Material Design</p>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="content"
      fxLayoutGap="5%"
    >
      <p>
        My role with AMMCO revolves around their Siren-Turtles project. Their
        apps allow scientists, researchers, and fishermen to add observations of
        turtles to the Siren database. This data aids the conservation efforts
        of endangered turtle species.
      </p>
      <p>
        When I joined the team, they were preparing to migrate their mobile app.
        It was originally built in Ionic and users were reporting quite a few
        bugs. The engineering team chose to use Flutter to build the new mobile
        app for the following reasons:
      </p>
      <ul>
        <li>Performance</li>
        <li>Ability to build for both Android and IOS simultaneously</li>
        <li>It's new and exciting</li>
      </ul>
      <p>
        Due to the nature of volunteer work, I put a lot of emphasis on
        organizing and writing descriptive code. I want to ensure that any new
        engineers will be able to quickly grasp the codebase.
      </p>
      <p>
        This role has allowed me to spearhead the development of a mobile app
        and collaborate with an international team of designers and engineers!
      </p>
    </div>
  </div>
</div>
