<div id="header" class="header">
  <h2>Leafy Green Notes</h2>
  <a target="_blank" href="https://aidenschrock.me/Leafy-Green-Notes/">
    <button class="buttons">Live Deployment</button>
  </a>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  class="content"
  fxLayoutGap="3%"
>
  <p>
    Leafy Green Notes is a React App project that I created in preparation for
    an interview for the design systems engineer position at MongoDB. I
    implemented MongoDB's Leafy Green UI components and used MongoDB Realm as my
    data store.
  </p>
  <img
    alt="Leafy Green Website User Auth and Storage"
    src="../../assets/leafygreennotes.gif"
    class="gif"
  />

  <p>
    My main goal for this project was to get familiar with MongoDB's UI system.
    I wanted to bring my perspective to the interview on what I liked and what I
    felt was missing/could use improvement. This was a great opportunity to show
    my interest and readiness for the position.
  </p>
  <br />
  <p>
    After completing this goal, I decided to integrate MongoDB's Realm service.
    I implemented user authentication and storage. This was my first time
    integrating a managed database and user authentication. It proved to be a
    fun learning experience!
  </p>
  <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="25px">
    <a target="_blank" href="https://www.mongodb.design/">
      <button class="buttons uiButton">Leafy Green UI</button>
    </a>
    <a target="_blank" href="https://www.mongodb.com/realm">
      <button class="buttons realmButton">MongoDB Realm</button>
    </a>
  </div>
</div>
