h2 {
  font-family: "Arima Madurai", cursive;
  font-size: 75px;
}

h3 {
 font-size: 1.5em;
 font-family: "Poiret One", cursive;
}

h4 {
  font-family: "Poiret One", cursive;
  font-size: 20px;
  margin-top: 2%;
  margin-top: 5%;
}


.wrapper {
  width: 99vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 4em auto 4em;
  grid-template-areas:
    "header header header"
    ". main ."
    ". footer .";
}

nav {
  display: flex;
  float: right;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  font-family: "Poiret One", cursive;
  font-size: 25px;
  a {
    margin-right: 5%;
  }
  a:hover {
    cursor: pointer;
    color: #ff7f11;
  }
}

.top {
  grid-area: header;
  display: flex;
  justify-content: center;

  width: 100%;
}

.topContent {
  align-items: center;
  width: 84%;
  display: flex;
  background-color: transparent;
}

.topScrolled {
  background-color: rgb(22, 22, 24);
  opacity: 20%;
}

.topScrolled:hover {
  opacity: 80%;
}

.name {
  font-family: "Caveat Brush", cursive;
  font-size: 25px;
  margin-left: 2%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;
  border: 1px solid white;
  p {
    font-family: "Poiret One", cursive;
    font-size: 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.headerImage {
  width: 80%;
}

.gif {
  width: 800px;
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15%;
  p {
    text-align: right;
    font-size: 25px;
  }
}

.row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
  p {
    width: 500px;
    margin-right: 5%;
  }
}

.textWrapper {
  width: 700px;
  margin-left: 10%;
  font-family: "Poiret One", cursive;
}
.footer {
  display: block;
  grid-area: footer;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 1%;
  margin-bottom: 0px;
  width: 100%;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
