<div class="wrapper">
  <div class="top">
    <div id="top" class="topContent">
      <p [routerLink]="['/home']" class="name">Aiden Schrock</p>
      <nav>
        <a (click)="backClicked()"> Home </a>
      </nav>
    </div>
  </div>
  <div fxLayout="column" class="main">
    <app-recolude *ngIf="navigateWork()==='recolude'"></app-recolude>
    <app-allrecipes *ngIf="navigateWork()==='allrecipes'"></app-allrecipes>
  </div>
  <div class="footer">
    <div class="content">&#169;{{ currentYear }} Aiden Schrock</div>
  </div>
</div>
