<div class="wrapper">
  <div class="top">
    <div id="top" class="topContent">
      <p [routerLink]="['/home']" class="name">Aiden Schrock</p>

      <nav>
        <a (click)="backClicked()"> Home </a>
      </nav>
    </div>
  </div>
  <div fxLayout="column" class="main">
    <div id="header" class="header">
      <h2>Recolude</h2>
      <h3 class="headerDescription">
        Recolude is a a startup providing 3D spatial recording utilities for XR,
        research, gaming, and mocap projects.
      </h3>
      <img src="../../assets/RecoludeBanner.png" class="headerImage" />
    </div>
    <div fxLayout="column" fxLayoutAlign="center" class="content" fxLayoutGap="10px">
      <div>
        <p>
          When I first started doing work for Recolude, they were still in the
          process of developing their brand's image. Their logo and website felt
          really dull in comparison to their bleeding edge services. Keeping in
          mind both their product and audience, I redesigned their logo to be
          sharper, more legible, and more colorful.
        </p>
        <img src="../../assets/old_to_new_logo.png" class="oldLogo" />
      </div>
      <div class="textWrapper" fxLayout="column">
        <p>
          One of my first tasks with Recolude was to redesign their login/signup
          flow. I created custom components and wired them up using AWS Cognito
          and Amplify. I also created a custom illustration of their mascot to
          greet users.
        </p>
        <h4><b>Languages/Frameworks/Toolkits:</b></h4>
        <p>Html, SASS, Typescript, Angular, Angular Material</p>
        <h4><b>Developer Tools:</b></h4>
        <p>AWS Cognito & Amplify</p>
        <img class="gif" src="../../assets/RecoludeApp.gif" />
      </div>

      <div fxLayout="column">
        <p>
          I used Wix's Editor X to build the Recolude website. Utilizing color
          and design, my main goal was to communicate Recolude's brand. Their
          previous site was made in wordpress
        </p>
        <div>
          <img class="gif" src="../../assets/RecoludeWebsite.gif" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="content">&#169;{{ currentYear }}</div>
  </div>
</div>
