<app-header></app-header>
<div class="wrapper">
  <div fxLayout="column" class="main">
    <div id="header" class="header">
      <h2>Shop Till You POP</h2>
      <h2 class="headerDescription">
        Shop Till You POP is a web game that simulates the stress of grocery
        shopping.
      </h2>
      <p>
        <strong>Tech Stack:</strong> Next.js, Firebase Firestore, Vercel,
        Material UI Library
      </p>
      <a target="_blank" href="https://shop-till-you-pop.vercel.app/">
        <button class="buttons">Live Deployment</button>
      </a>
    </div>
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      class="content"
      fxLayoutGap="3%"
    >
      <img
        alt="Shop Till You Pop Demo"
        src="../../assets/styp-site.gif"
        class="gif"
      />

      <p>
        This was a week long two-part technical assessment. It involved creating
        both an application and a presentation/write-up about it from the
        perspective of a sales engineer. My main goal for this project was to
        creatively showcase Vercel's services.
      </p>
      <br />

      <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="25px">
        <a
          target="_blank"
          href="https://github.com/aidenschrock/shop-till-you-pop"
        >
          <button class="buttons bottomButtons">Source Code</button>
        </a>
        <a
          target="_blank"
          href="https://www.canva.com/design/DAE4GEEwrSo/pAiUeBh8YlcPFqMvGQn0cg/view?utm_content=DAE4GEEwrSo&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton"
        >
          <button class="buttons bottomButtons">Canva Presentation</button>
        </a>
      </div>
    </div>
  </div>
</div>
