@import "../../styles.scss";

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 6em;
  margin-bottom: unset;
}

h2 {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 3em;
}

h3 {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 2em;
}

h4 {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.5em;
  font-style: normal;
}

p {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.3em;
}

a:hover {
  color: $orange;
  cursor: pointer;
}

.wrapper {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  float: right;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0 1% 0;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1.5em;
  a {
    margin-right: 5%;
  }
}

.top {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.topContent {
  align-items: center;
  width: 84%;
  display: flex;
  background-color: transparent;
}

.topScrolled {
  background-color: rgb(22, 22, 24);
  opacity: 20%;
}

.topScrolled:hover {
  opacity: 80%;
}
.name {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  margin-left: 2%;
}

.name:hover {
  cursor: pointer;
  color: $orange;
}
.mainWrapper {
  display: flex;
  justify-content: center;
}
.main {
  max-width: 1440px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 5%;
  margin-top: 5%;
}

.header-button {
  width: 10em;
  background-color: transparent;
  color: $orange;
  border-radius: 5px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 3em;
  margin-top: 5%;
  padding: 1% 4% 1% 4%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  border: none;
  white-space: nowrap;
}

.header-button:before {
  content: "";
  position: absolute;
  border: $orange solid 4px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.header-button:hover:before,
.header-button:focus:before,
.header-button:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

.about {
  padding: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
  h2 {
    margin-top: 5%;
  }
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  margin-right: 5%;
}
.pfpWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pfp {
  display: block;
  max-width: 500px;
  max-height: 500px;
  margin: 5%;
}

.aboutIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  align-items: center;
  width: 60%;
}

.coffeeIcon {
  width: 4em;
  transition: transform 0.2s;
}

.musicIcon {
  width: 3.5em;
  transition: transform 0.2s;
}

.pcIcon {
  height: 4.5em;
  transition: transform 0.2s;
}

.pcIcon:hover {
  fill: $orange;
  cursor: pointer;
  transform: scale(1.1);
}

.coffeeIcon:hover {
  fill: $orange;
  cursor: pointer;
  transform: scale(1.1);
}

.musicIcon:hover {
  fill: $orange;
  cursor: pointer;
  transform: scale(1.1);
}

.work {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  h2 {
    margin-top: 5%;
  }
}

.workContent {
  margin: 5%;
  h4:hover {
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.siteMock {
  width: 30em;
  transition: transform 0.2s;
}

.siteMock:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.orangeLinks {
  color: $orange;
}
.orangeLinks:hover {
  color: $orange-hover;
}

form {
  display: flex;
  flex-direction: column;
  color: rgb(236, 231, 229);
}

.message-field {
  textarea {
    height: 7em;
  }
}

.contact {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;

  h2 {
    width: 100%;
    text-align: center;
    margin-top: 5%;
  }
}

.contactContent {
  margin: 5%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 2em;
    width: 60%;
    text-align: center;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 15px;
  width: 60px;
  height: 60px;
  fill: rgb(236, 231, 229);
  transition: transform 0.2s;
}

.socialIcons:hover {
  fill: $orange;
  transform: scale(1.2);
}

.mobileNavbarWrapper {
  display: flex;
  justify-content: center;
}
.mobileNavbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 1%;
  border-radius: 50px;
  width: 90%;
  display: flex;
  padding: 0 5% 0 5%;
  justify-content: space-between;
}

.mobileNavbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbarIcons {
  fill: rgb(236, 231, 229);
  width: 35px;
  height: 35px;
}

.active .navbarIcons {
  fill: $orange;
}

@media only screen and (max-width: $lg) {
  .aboutContent {
    font-size: 0.8em;
  }
  .contact-info {
    p {
      font-size: 1.8em;
      width: 80%;
    }
  }
  .pfp {
    max-width: 400px;
    max-height: 400px;
  }
  .siteMock {
    width: 20em;
  }
}

@media only screen and (max-width: $md) {
  h1 {
    font-size: 5em;
  }

  h3 {
    font-size: 1.5sem;
  }
  .aboutContent {
    width: 90%;
    text-align: center;
  }
  .contact-info {
    p {
      width: 80%;
    }
  }
}

@media only screen and (max-width: $sm) {
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 98%;
    overflow: hidden;
  }

  .siteMock {
    width: 18em;
  }

  .contactContent {
    padding-bottom: 30%;
  }

  .contact-info {
    padding-bottom: 10%;
  }
}
@media only screen and (max-width: $xs) {
  .header {
    h1 {
      font-size: 3.5em;
    }
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
      width: 90%;
    }
  }
  p {
    font-size: 1.2em;
  }
  .header-button {
    font-size: 2em;
  }
  .pfp {
    width: 90%;
    margin: unset;
  }
  .about {
    p {
      text-align: center;
      width: 90%;
    }
  }
  .aboutIcons {
    width: 80%;
  }
  .aboutContent {
    margin-right: 0;
  }

  .contact-info {
    p {
      width: 100%;
    }
  }
}
