<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@800&family=Caveat+Brush&family=Poiret+One&display=swap"
  rel="stylesheet"
/>
<div class="wrapper">
  <div class="spacer1"></div>
  <div class="item-a">
    <p class="name">Aiden Schrock</p>
    <div class="socials">
      <a class="icon" target="_blank" href="https://github.com/aidenschrock">
        <img src="../../assets/github.svg" />
      </a>
      <a
        class="icon"
        target="_blank"
        href="https://www.linkedin.com/in/aiden-schrock/"
      >
        <img src="../../assets/linkedin.svg" />
      </a>
      <a class="icon" target="_blank" href="https://twitter.com/AidenNSchrock">
        <img src="../../assets/twitter.svg" />
      </a>
    </div>
  </div>
  <div class="spacer2"></div>
  <nav>
    <a><img class="icon" src="../../assets/home.svg" /></a>

    <a><img class="icon" src="../../assets/face.svg" /></a>

    <a><img class="icon" src="../../assets/work.svg" /></a>

    <a><img class="icon" src="../../assets/email.svg" /></a>
  </nav>
  <div class="item-b">
    <div class="section1">
      <h1>
        Web Design & <br />
        Development
      </h1>
      <h3>
        Communicate the soul of your business through personable web design
      </h3>
      <button>Let's Talk!</button>
    </div>
    <div class="section2">
      <img class="pfp" src="../../assets/pfp.jpg" />
      <div class="content">
        <h2>About</h2>
        <p>
          I’m Aiden, a web developer from the Southern United States. I have a
          passion for the passionate. I love helping small businesses and
          startups translate the core of their brand into a unique web design.
          I’m also a fan of flavored lattes, PC gaming, discovering new music,
          and podcasts!
        </p>
      </div>
    </div>
    <div class="section3">
      <h2>Process</h2>
      <div class="content">
        <div class="leftSteps">
          <h4>01. Interview/Research</h4>
          <p>
            This is where I learn all about who you are and what your brand
            stands for! We’ll discuss your goals for the site, your customer
            base, and your likes/dislikes. During this phase, I will also
            research competitors to make sure you stand out in the crowd.
          </p>
        </div>
        <div class="rightSteps">
          <h4>02. Sitemap & Wireframe</h4>
          <p>
            I create a sitemap that will determine the website’s navigation and
            hierarchy. Then, I create a wireframe of the potiential layout of
            your site.
          </p>
        </div>
        <div class="leftSteps">
          <h4>03. Design</h4>
          <p>
            After the wireframe is approved, I will begin filling it in with the
            design! I may use other tools, such as After Effects & Blender at
            this point to create custom artwork and animations.
          </p>
        </div>
        <div class="rightSteps">
          <h4>04. Development</h4>
          <p>
            The final step is to bring the website to life! Depending on your
            needs, this can be done in a website builder, such as WIX, or with
            code.
          </p>
        </div>
      </div>
    </div>
    <div class="section4">
      <h2>Tools</h2>
      <div class="content">
        <div class="headers">
          <h4>Design</h4>
          <h4 class="developmentHeader">Development</h4>
        </div>
        <div class="icons">
          <div class="designIcons">
            <img class="icon" src="../../assets/adobe.png" />
            <img class="icon" src="../../assets/blender.png" />
            <img class="icon" src="../../assets/figma.png" />
          </div>
          <div class="developmentIcons">
            <img class="icon" src="../../assets/aws.svg" />
            <img class="icon" src="../../assets/angular.png" />
            <img class="icon" src="../../assets/wix.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="section5">
      <h2>Work</h2>
      <div class="content">
        <img class="siteMock" src="../../assets/RecoludeMock.png" />
        <p>RECOLUDE</p>
      </div>
    </div>
    <div class="section6">
      <h2>Contact</h2>
      <div class="content">
        <p>
          If you’re interested in working with me, please reach out to me
          through email or any of my socials!
        </p>
        <h1>AIDENNOELSCHROCK@PROTONMAIL.COM</h1>
        <div class="socials">
          <a target="_blank" href="https://github.com/aidenschrock">
            <img class="icon" src="../../assets/github.svg" />
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/aiden-schrock/">
            <img class="icon" src="../../assets/linkedin.svg" />
          </a>
          <a target="_blank" href="https://twitter.com/AidenNSchrock">
            <img class="icon" src="../../assets/twitter.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="item-f"></div>
  <div class="item-d"></div>
</div>
