h1 {
  font-family: "Arima Madurai", cursive;
  font-size: 105.9px;
}

h2 {
  font-family: "Caveat Brush", cursive;
  font-size: 65.45px;
}

h3 {
  font-family: "Caveat Brush", cursive;
  font-size: 25px;
}

h4 {
  font-family: "Poiret One", cursive;
  font-size: 40.45px;
}

p {
  font-family: "Poiret One", cursive;
  font-size: 25px;
}

.wrapper {
  width: 99vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 4em auto 4em;
  grid-template-areas:
    "header header header"
    ". main ."
    ". footer .";
}

nav {
  display: flex;
  float: right;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  font-family: "Poiret One", cursive;
  font-size: 25px;
  a {
    margin-right: 5%;
  }
  a:hover {
    cursor: pointer;
    color: #ff7f11;
  }
}

.top {
  grid-area: header;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.topContent {
  align-items: center;
  width: 84%;
  display: flex;
  background-color: transparent;
}

.topScrolled {
  background-color: rgb(22, 22, 24);
  opacity: 20%;
}

.topScrolled:hover {
  opacity: 80%;
}
.name {
  font-family: "Caveat Brush", cursive;
  font-size: 25px;
  margin-left: 2%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: main;
  border: 1px solid rgb(236, 231, 229);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.header-button {
  width: 220px;
  color: white;
  background-color: #ff7f11;
  border-radius: 5px;
  font-family: "Arima Madurai", cursive;
  font-size: 40.45px;
  margin-top: 5%;
  padding: 1%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.header-button:before {
  content: "";
  position: absolute;
  border: #ff7f11 solid 4px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.header-button:hover:before,
.header-button:focus:before,
.header-button:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

.about {
  border-top: 1px solid rgb(236, 231, 229);
  padding: 1%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
  h2 {
    margin-top: 5%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    align-items: center;
    margin-right: 5%;
  }
}

.pfp {
  width: 500px;
  height: auto;
  margin: 10%;
}

.aboutIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  width: 50%;
  align-items: center;
}

.coffeeIcon {
  width: 60px;
  height: 60px;
}

.musicIcon {
  width: 50px;
  height: 50px;
}

.pcIcon {
  height: 80px;
}

.aboutIcon:hover {
  fill: #ff7f11;
  cursor: pointer;
}

.pcIcon:hover {
  fill: #ff7f11;
  cursor: pointer;
}

.process {
  border-top: 1px solid rgb(236, 231, 229);
  padding-bottom: 100px;
  h2 {
    margin-top: 5%;
    margin-left: 10%;
  }
  .content {
    margin: 5%;

    .leftSteps {
      text-align: left;
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      width: 80%;
    }
    .rightSteps {
      float: right;
      text-align: right;
      margin-top: 50px;
      margin-bottom: 50px;
      width: 80%;
      P {
        float: right;
        margin-left: auto;
      }
    }
    p {
      width: 70%;
    }

    .leftIcons {
      display: flex;
      align-items: center;
      fill: rgb(236, 231, 229);
      height: 80px;
      width: 80px;
    }

    .rightIcons {
      display: flex;
      align-items: center;
      fill: rgb(236, 231, 229);
      height: 80px;
      width: 80px;
    }
  }
}

.tools {
  border-top: 1px solid rgb(236, 231, 229);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-top: 5%;
  }
  .content {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    margin-left: -5%;
    .headers {
      margin-left: 0%;
      text-align: right;
      .developmentHeader {
        margin-top: 55%;
      }
    }
    .icons {
      margin-right: 0;
      margin-left: 5%;
      cursor: pointer;
      .icon {
        width: 70px;
        height: 70px;
        margin-right: 25%;
      }
      .designIcons {
        display: flex;
        .figma {
          width: 100px;
          height: 100px;
        }
      }
      .developmentIcons {
        margin-top: 35%;
        display: flex;
      }
    }
  }
}

.work {
  border-top: 1px solid rgb(236, 231, 229);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-top: 5%;
  }
  .content {
    margin: 5%;
    p {
      font-size: 35px;
      margin-top: 2%;
    }
  }
  .siteMock {
    width: 500px;
  }
  .siteMock:hover {
    cursor: pointer;
  }
}

mat-form-field {
  width: 600px;
  color: rgb(236, 231, 229);
  margin-top: 5%;
}

input {
  width: 500px;
  height: 3em;
  border-radius: 5px;
  padding: 2%;
}

::ng-deep .mat-form-field-placeholder {
  margin-left: 5px;
  color: rgb(236, 231, 229) !important;
}

::ng-deep .mat-form-field-label {
  color: rgb(236, 231, 229) !important;
  font-family: "Poiret One", cursive !important;
  font-size: 20px !important;
}

::ng-deep .mat-input-element {
  caret-color: rgb(236, 231, 229) !important;
  overflow-wrap: break-word;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #ff7f11 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #ece7e5 !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #ff7f11 !important;
}

form {
  display: flex;
  flex-direction: column;
  color: rgb(236, 231, 229);
}

.message-field {
  textarea {
    height: 7em;
  }
}

.long {
  border-top: 1px solid rgb(236, 231, 229);
  border-bottom: 1px solid rgb(236, 231, 229);
}
.contact {
  border-top: 1px solid rgb(236, 231, 229);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-top: 5%;
  }
  h1 {
    font-size: 25px;
  }

  .content {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 6%;
      p {
        font-size: 35px;
      }
    }

    .socials {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin-top: 30px;
    }
    .icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      margin: 15px;
      width: 60px;
      height: 60px;
      fill: rgb(236, 231, 229);
    }
    .icon:hover {
      fill: #ff7f11;
    }
    p {
      width: 550px;
      margin-bottom: 5%;
    }
  }
}

.contactFormSubmit {
  margin-top: 10px;
  background-color: #ff7f11;
  font-size: 25px;
  width: 150px;
  border-radius: 5px;
  padding: 2%;
  font-family: "Arima Madurai", cursive;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}

.contactFormSubmit:before {
  content: "";
  position: absolute;
  border: #ff7f11 solid 4px;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.contactFormSubmit:hover:before,
.contactFormSubmit:focus:before,
.contactFormSubmit:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: block;
  grid-area: footer;
  padding: 1%;
  margin-bottom: 0px;
  width: 100%;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 320px) {
  .top {
    display: none;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 88vw;
  }

  .header {
    h3 {
      text-align: center;
      width: 80%;
    }
  }
  .header-button {
    width: 100px;
    font-size: 20px;
  }
  .about {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .content {
      p {
        font-size: 0.6em;
      }
    }
  }

  .pfp {
    margin: 2%;
    width: 200px;
  }

  .aboutIcons {
  }

  // .process {
  //   .content {
  //     .leftSteps {
  //       .designIcon {
  //         height: 200px;
  //         width: 200px;
  //       }
  //     }
  //   }
  // }
  .tools {
    .content {
      width: 60%;
      margin-left: -10%;
      .headers {
        .developmentHeader {
          margin-top: 10%;
        }
      }
    }
  }
  mat-form-field {
    width: 550px;
  }
  .contact {
    .content {
      flex-direction: column;
      .contact-info {
        margin: unset;
        margin-top: 5%;
      }
    }
  }
}
